<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.HouseMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.House" >
    <id column="houseid" property="houseid" jdbcType="INTEGER" />
    <result column="houser" property="houser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    houseid, houser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house
    where houseid = #{houseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house
    where houseid = #{houseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.House" >
    insert into house (houseid, houser)
    values (#{houseid,jdbcType=INTEGER}, #{houser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseid != null" >
        houseid,
      </if>
      <if test="houser != null" >
        houser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseid != null" >
        #{houseid,jdbcType=INTEGER},
      </if>
      <if test="houser != null" >
        #{houser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.House" >
    update house
    <set >
      <if test="houser != null" >
        houser = #{houser,jdbcType=VARCHAR},
      </if>
    </set>
    where houseid = #{houseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.House" >
    update house
    set houser = #{houser,jdbcType=VARCHAR}
    where houseid = #{houseid,jdbcType=INTEGER}
  </update>
</mapper>